{
  "presets": ["@babel/preset-flow", "@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-flow-strip-types"],
    ["webpack-aliases", {"config": "webpack.config.js"}],
    "babel-plugin-add-module-exports",
    "@babel/plugin-proposal-class-properties"
  ]
}
